.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow-x: hidden;
}

.lottieLoadingContainer {
  padding-top: 70px;
}

.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.selectBox {
  margin-right: 10px;
  border-radius: 7px;
}

.filterBtn {
  display: flex;
  align-items: center;
  width: 90px;
  height: 33px;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.numberSearch {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--primary-color);
  font-size: 12px;
  color: #fff;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  padding-top: 2px;
}

.filterIcon {
  font-size: 16px;
  margin-right: 5px;
}

.categoryContainer {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  font-size: 15px;
}

.categoryContainer hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #f3f3f4;
  margin: 15px 0px;
}

.categoryItem {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: normal;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.categoryItem:hover {
  color: #6e6d7a;
}

.selectedCategory {
  background-color: #fff2e6;
  color: #000;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  color: black;
  transition: color 0.3s ease;
}

.arrow.disabled {
  color: #d3d3d3;
  cursor: not-allowed;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-15%);
  transition: transform 0.1s linear;
  opacity: 0;
}

.searchContainer.visible {
  max-height: 500px;
  transform: translateY(0);
  opacity: 1;
}

.searchFieldContainer {
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
}

.searchFieldContainer p {
  font-size: 13px;
  margin: 0 0 5px 5px;
}

@media (max-width: 500px) {
  .categoryContainer {
    font-size: 12px;
  }
  .filterBtn span {
    font-size: 14px;
  }

  .searchContainer {
    flex-direction: column;
  }
  .searchFieldContainer {
    margin-right: 0;
  }
}


@media (min-width: 768px) {
  .filterBtn:hover,
  .selectBox:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}