.container {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 600px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
    border-bottom: 1px solid #F2F2F2;
    /*overflow: hidden;*/
    z-index: 100;
    background: rgba(255, 255, 255, 0.67);
    /*background-color: red;*/
    /*border-radius: 16px;*/
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}


/*로고호버 =====>*/
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.whiteLogo {
    /*width: 100%;*/
}

.whiteLogoConatiner {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    /*background-color: red;*/
}

.logo:hover {
    filter: contrast(0%) brightness(0%);
}

.backBtn {
    /*background-color: red;*/
    /*background-color: transparent;*/
    width: 40px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding-top: 4px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;

}


.hamburgerMenu {
    position: absolute;
    right: 6px;
    display: flex;
    align-items: center;
    z-index: 2;
    /*background-color: #fff;*/
    padding: 0 22px;

    margin: 0;
    /*border: 1px solid black;*/
}

.hamburgerBorder {
    position: absolute;
    right: 25px;
    width: 40px;
    height: 30px;
    background-color: #fff;
    border: 1.5px solid black;
    border-radius: 5px;
}

.dimOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.menu {
    position: absolute;
    top: -250px; /* 화면 밖에 위치하게 합니다 */
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    transform: translateY(-160px);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    padding-bottom: 20px;
    z-index: 1;
}

.menu.open {
    top: 0; /* 햄버거 메뉴 아래로 내려오게 합니다 */
    transform: translateY(0);
}

.menu img {
    height: 35px;
    margin: 20px;
}

.menu li {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    list-style-type: none;
}

.menu li a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    vertical-align: top;
}

.menu li a::before,
.menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.menu li a::before {
    background-color: #FF501C;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.menu li a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #FF501C;
}

.menu li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.menu li a:hover::after {
    transform: translate3d(0, 0, 0);
}

.menu li a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.menu li a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.logoutBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;

}

/* Presentational Styles */

/*.menu li:hover {*/
/*    color: #FF501C;*/
/*}*/


@media(min-width: 410px) {
    .menu li {
        font-weight: normal;
    }
    .menu li a {
        font-weight: normal;
    }
}