.container {
    width: 100%;
    display: flex;
    flex-flow:wrap;
    flex-direction: row;
    /* column-gap: 20px; */
    /* background-color: red; */
    justify-content: space-around;
    align-content: space-around;
}

.moreBtnContainer {
    margin-top: 20px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}