.container {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*height: 100vh;*/
    /*position: relative;*/
    margin-top: 20px;

}

.inputField {
    height: 50px;
    width: 100%;

}

.emailFormContainer {
    /* background-color: rebeccapurple; */
    position: relative;
    /* height: 110px; */
}

.emailcontainer {
    position: relative;
}

.emailValiContainer {
    /* position: relative; */
    /* display: flex;
    flex-direction: row; */
}

.valiTitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.valiContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */

}

.red {
    color: red;
}

.emailBtn {
    height: 30px;
    font-size: 12px;
    /* background-color: #e3e3e3; */
    border-radius: 8px;
    padding: 0 12px;
    position: absolute;
    top: 40px;
    right: 14px;
    background-color: var(--primary-color);
    color: #fff;
    z-index: 5;
}

.timerContainer {
    /* position: absolute; */
    top: 16px;
    right: 66px; 
    font-size: 12px;
    color: #b0b0b0;

    margin-left: 6px;
    position: absolute;
    right: 65px; 
    z-index: 10;
}

.emailValiBtn {
    height: 30px;
    font-size: 12px;
    /* background-color: #e3e3e3; */
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 0 12px;
    /* position: absolute; */
    /* top: 10px; */
    /* right: 14px; */
    margin-left: 10px;
    position: absolute;
    top: 10px;
    right: 14px;
    color: #fff;

}

.emailValiBtn:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}


.emailValidationContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/

}

.emailBtn:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}



.btnContainer {

    width: 100%;

}

.submitBtn {
    background-color: #000 !important;
    width: 100%;
}

