.container {
    text-align: center;
    /*margin: auto;*/
    max-width: 600px;
    height: 500px;
    /*background-color: red;*/
    overflow-y: hidden;
}

.loadingContainer {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-bottom: 30px; */
    padding-top: 50px;
}

.loadingTextContainer {
    position: absolute;
    top: 60px;
    /* margin-top: 80px; */
    font-size: 16px;
}

.loadingContainer p {
    /* background-color: aqua; */
    color: #000;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.loadingText {
    /* position: absolute;
    bottom: -100px; */
    color: #000;
    width: 100%;
    height: 100px;
    z-index: 9;
    font-size: 20px;
    
}

/*.subTitle {*/
/*    font-size: 14px;*/
/*    color: black;*/
/*    !*margin-bottom: 20px;*!*/
/*}*/

/*.container span {*/
/*    font-size: 14px;*/
/*    color: black;*/
/*    !*height: 16px;*!*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


.subTitle {
    height: 20px;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: inline;*/
    margin: 6px 0;
    font-size: 15px;
    color: #000;

}

.sliderContainer {
    position: relative;
    overflow: hidden;
}

.emblaContainer {
    display: flex;
    flex-direction: row;

}

.emblaSlide {
    position: relative;
    /* flex: 0 0 33.3333%; */
    /*padding: 0 10px;*/
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* 정사각형으로 바꾸는곳 ============> */
.emblaSlide img {
    display: block;
    width: 300px;
    height: 300px;
    /*border-radius: 10px;*/
}

.activeSlide {
    opacity: 1;
}

.prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    /*padding: 10px;*/
    cursor: pointer;
    z-index: 1;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}


/*랜덤버튼 ============>*/
.randomBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

/*.randomBtn {*/
/*    width: 80px;*/
/*    height: 35px;*/
/*    margin-top: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #000;*/
/*    bottom: 10px;*/
/*    border-radius: 12px;*/
/*    font-size: 22px;*/
/*}*/

.randomBtn {
    font-size: 16px !important;
    font-weight: 500 !important;
}


/*.dots {*/
/*    margin-top: 20px;*/
/*}*/

/*.dot {*/
/*    display: inline-block;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    margin: 0 5px;*/
/*    background-color: gray;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*}*/

/*.activeDot {*/
/*    background-color: black;*/
/*}*/
