.container {
    text-align: center;
    /*margin: auto;*/
    max-width: 600px;
    height: 500px;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*justify-content: space-between;*/
    align-content: center;
    /*justify-content: center;*/
    overflow-y: hidden;

}

.subTitle {
    height: 30px;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: inline;*/
    margin: 10px 0;
    font-size: 15px;
    color: #000;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /*display: flex;*/
    flex-direction: column;
}

.backgroundContainer {
    width: 335px;
    height: 335px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 15px 15px 15px 17px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photoQr {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.photoQr img {
    width: 240px;
}

.btnContainer {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}