.container{
    display: flex;
    justify-content: center;

}

.shareItemContainer {
    margin: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*gap: 25px;*/
}

.shareItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.shareItemIcon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*background-color: #fff;*/
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 10px;
}

.urlCopyContainer {
    padding: 10px 20px;
}

.urlCopyTitle

.urlCopy {
    margin-top: 5px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 10px 20px 0 20px;
    /*background-color: #eaeaea;*/
}