.container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
    height: 100%;
    position: relative;
    /*margin-top: 20px;*/
    padding: 50px;
    /*background-color: red;*/
}

.unauthContainer {
    /* background-color: red; */
    position: absolute;
    /* top: 30px;
    left: 30px; */
}

.unauthTitle {
    font-size: 40px;
    font-weight: 500;
    /* background-color: rebeccapurple; */
}

.unauthTitle p {
    /* background-color: red; */
    margin-bottom: 10px;
}

.unauthLoginContainer {
    display: flex;
    align-items: center;
}

.unauthUserInfoContainer {
    padding: 10px;
}

.unauthHelper {
    margin: 7px 0 0 10px;
    font-size: 14px;
}

.loginArrow {
    font-size: 24px;
    margin-left: 8px;
    color: #999999;
}

.unauthUserInfoContainer span {
    font-size: 26px;
    font-weight: 600;
    margin-left: 10px;
}

.bold {
    font-size: 30px;
    font-weight: bold;
}

.normal {
    font-size: 22px;
    font-weight: 400;
}

.nickname {
    margin-bottom: 10px;
}

.email {
    margin: 20px 0 10px 0;
}

.linkList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}



.icon {
    margin-right: 5px;
}

.arrowContainer {
    display: flex;
    justify-content: center;
}

.arrowIcon {
    font-size: 28px;
}

.logoutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    left:50%;
    transform:translateX(-50%);

}

@media (max-width: 410px) {
    .linkList {
        padding: 16px 2px;
    }
    .container {
        padding: 35px;
    }
    .unauthUserInfoContainer span {
        margin-left: 0;
    }
    .unauthHelper {
        margin-left: 2px;
    }
}