/* Demo.module.css */
.container {
    max-width: 600px;
    width: auto;
    height: 1000px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: green;*/
    position: relative;
}

.subTitle {
    /*width: 100%;*/
    position: absolute;
    font-size: 24px;
    top: 4%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.highliter {
    /*width: 80px;*/
    /*height: 40px;*/
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-left: 5px;
    border-radius: 12px;

}

/*.mockUpContainer {*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    !*transform: translateY(-44%);*!*/
/*    z-index: 2*/
/*}*/

/*.mockUpContainer img {*/

/*    top: 60px;*/
/*}*/

.mockupImg {
    /*height: 550px;*/
    position: absolute;
    top: 10%;
    height: 550px;
    z-index: 2
}

/*.swiper {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*}*/


.swiper {
    width: 260px;
    /*여기서 세로 크기 조정하기*/
    height: 535px;
    border-radius: 50px;
    position: absolute;
    top: -19%;
    background-color: black;

}

.slideContainer {
    /*width: 400px;*/
    /*height: 800px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 600px;
}





.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/*.navButton {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    margin: 0 10px;*/
/*    border-radius: 5px;*/
/*}*/

/*.pagination {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/




.btnContainer {
    position: absolute;
    top: 58%;
    width: 220px;
    height: 60px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    /*margin-top: 30px;*/
    border-radius: 30px;
    padding:  0 10px;
    /*margin-bottom: 120px;*/
    border: 1px solid #d9d9d9;
}

.arrowBtn {
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #333333;
}