.container {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 60px;
    filter:grayscale(100%) opacity(0.8);
}

.text {
    font-size: 14px;
    color: #CCCCCC;
    margin: 10px;
}