.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 0;
    align-items: center;
    width: 100%;
    /* background-color: red; */
}

.title {
    font-size: calc(1rem + 0.8vw);
    margin-bottom: 40px;
}

.subTitle {
    font-size: calc(0.7rem + 0.4vw);
    color: var(--grey-color);
    word-break:break-all;
    line-height: 1.6;
}

.tryBtn {
    width: 146px;
    height: 38px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.stepsContainer {
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stepItem {
    width: 70%;
    /*padding: 0 60px;*/
    background-color: rgba(229, 229, 229, 0.65);
    border-radius: 10px;
    /*border: 1px solid grey;*/
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
}

.left {
    align-content: flex-start;
}

.right {
    justify-content: flex-end;
    text-align: right;
    align-content: flex-end;
}

.stepTitle {
    text-align: left;
    margin: 10px;
}

.stepIndicator {
    width: 70px;
    height: 25px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepImg {
    width: 100%;
    height: 180px;
    background-color: black;
    border-radius: 15px;
    object-fit: contain;
    overflow: hidden;
}

.stepImg img {
    width: 320px;
}

.rightIcon {
    position: absolute;
    width: 60px;
    top: -20px;
    right: 2px;

}


@media (min-width: 800px) {
    .container {
        margin-top: 60px;
    }
}

@media (max-width: 430px) {
    .stepItem {
        width: 85%;
    }
}