.container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.moreBtnContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 10px;
}
