@font-face {
    font-family: 'TTHakgyoansimSamulhamR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimSamulhamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100vh;
    /*background-image: url('../../../assets/hero_bg8.svg');*/
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    /*justify-content: center;*/
    position: relative;
    align-items: flex-start;

    justify-content: flex-start;
    /*background-color: red;*/
    /*background-color: red;*/
}

.heading {
    /*background-color: red;*/
    /*position: absolute;*/
    /*left: 40px;*/
    /*top: 40px;*/
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.heading h1 {
    font-size: calc(2.5rem + 1.5vw);
    font-family: 'TTHakgyoansimSamulhamR', sans-serif;
}

.heading h2 {
    font-size: calc(1.8rem + 1.5vw);
    font-family: 'TTHakgyoansimSamulhamR', sans-serif;
    color: white;
    -webkit-text-stroke: 0.8px black;


}

.heading button {
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 7px;

}


.buttonContainer {
    position: absolute;
    left: 40px;
    top: 180px;
}

/*.buttonContainer button {*/
/*    width: 150px;*/
/*    height: 50px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    font-size: 18px;*/
/*    border-radius: 8px;*/

/*}*/

.tryBtn {
    width: 130px;
    height: 45px;
    color: white;
    background-color: black;
    font-size: 17px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.tryBtn:hover {
    text-decoration: none;
}


/*hero images =============>*/
.imgContainer {

    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*메뉴판 ===========>*/
.img1 {
    padding: 12px;
    position: absolute;
    top: 16%;
    right: 8%;
    z-index: 1;
    border-radius: 16px;
}

.img1 img{
    /*width: 160px;*/
    width: calc(5rem + 6.2vw);


}

/*콘서트 ===========>*/
.img2 {
    padding: 15px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.img2 img{
    /*width: 200px;*/
    width: calc(10rem + 7vw);
    height: auto;

}

/*청첩장 =============>*/
.img3 {
    padding: 12px;
    position: absolute;
    top: 44%;
    left: 12%;
}

.img3 img{
    /*width: 200px;*/
    width: calc(4rem + 4vw);
    height: auto;

}