.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
    transition: background-color 1s ease;
}

.body {
    background-color: transparent;

}

.hero {
    width: 100%;
}

.intro {
    height: 120vh;
}