/* Demo.module.css */
.container {
  max-width: 600px;
  width: 100%;
  height: 900px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  position: relative;
  padding-top: 100px;
}

.subTitle {
  position: absolute;
  font-size: calc(1rem + 0.8vw);
  top: 8%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.highliter {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  margin-left: 5px;
  border-radius: 10px;
}

.allBtn {
  width: 140px;
  height: 36px;
  color: black;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 114px;
  cursor: pointer;
  background-color: #fff;
}

.mockupImg {
  position: absolute;
  top: 22%;
  height: 540px;
  z-index: 2;
}

.swiper {
  width: 260px;
  /*여기서 세로 크기 조정하기*/
  height: 525px;
  border-radius: 50px;
  position: absolute;
  top: -4%;
  background-color: black;
}

.slideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 600px;
}

.slideContainer img {
  height: 590px;
  padding-bottom: 15px;
}

.btnContainer {
  position: absolute;
  top: 86%;
  width: 220px;
  height: 60px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 0 10px;
  border: 1px solid #d9d9d9;
  z-index: 20;
}

.arrowBtn {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #333333;
}
