.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  overflow-x: hidden;
}

.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.selectBox {
  margin-right: 10px;
  border-radius: 7px;
  /* border: 1px solid #d9d9d9; */
}

.filterBtn {
  display: flex;
  align-items: center;
  width: 90px;
  height: 33px;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.filterBtn:hover,
.selectBox:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.filterIcon {
  font-size: 16px;
  margin-right: 5px;
}

.categoryContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 15px;
}

.scrollMenu::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비를 0으로 설정 */
  background-color: transparent; /* 배경색을 투명으로 설정 */
}

.scrollMenu:hover::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비를 8px로 설정 */
}

.categoryContainer::-webkit-scrollbar {
  display: none;
}

.categoryContainer hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #f3f3f4;
  margin: 15px 0px;
}

.categoryItem {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  /* background-color: #f0f0f0; */
  font-weight: normal;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.categoryItem:hover {
  /* background-color: #e0e0e0; */
  color: #6e6d7a;
}

.selectedCategory {
  background-color: #fff2e6;
  color: #000;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  color: black;
  transition: color 0.3s ease;
}

.arrow.disabled {
  color: #d3d3d3;
  cursor: not-allowed;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-15%);
  transition: transform 0.1s linear;
  opacity: 0;
  /* display: none; */
  /* background-color: red; */
}

.searchContainer.visible {
  max-height: 500px; 
  transform: translateY(0);
  opacity: 1;
  /* display: block; */
}


.searchFieldContainer {
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
}

.searchFieldContainer p{
  font-size: 13px;
  margin: 0 0 5px 5px;
}



@media (max-width: 500px) {
  .categoryContainer {
    font-size: 12px;
  }
  .filterBtn span {
    font-size: 14px;
  }

  .searchContainer {
    flex-direction: column;
  }
  .searchFieldContainer {
    margin-right: 0;
  }
}
