.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
}

.photoContainer {
    margin-top: 10px;
    width: 280px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 25px;
    font-size: 22px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    /*margin-top: 20px;*/
}

.downloadBtn {
    background-color: #000 !important;
    width: 120px;
}

.shareBtn {
    background-color: #000 !important;
    margin-left: 10px;
}

.mainBtn {
    color: #bdbdbd !important;
    font-size: 14px;
    margin-top: 40px
}

.mainBtn:hover {
    text-decoration: none;
}