.container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    padding: 2px 50px;
    /* background-color: rebeccapurple; */
}

.imgContainer {
    padding: 13px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.infoConatiner {
    /* background-color: red; */
    padding: 12px;
}

.dateGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.dateGroup span {
    margin-left: 3px;
}

.categoryGroup {
    padding: 5px 0;
    background-color: rgb(228, 228, 228);
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}

.categoryGroup span {
    margin: 0;
}

.title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}