@font-face {
  font-family: "TTHakgyoansimSamulhamR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimSamulhamR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
    font-family: 'Handletter';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  height: 100vh;
  /*background-image: url('../../../assets/hero_bg8.svg');*/
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  /*justify-content: center;*/
  position: relative;
  align-items: flex-start;

  justify-content: flex-start;
  /* background-color: red; */
  /* mask: url('../../../../public/images/hero_bg.svg') no-repeat center/contain;
  -webkit-mask: url('../../../../public/images/hero_bg.svg') no-repeat center/contain; */
  /*background-color: red;*/

  /* 노이즈 =======> */
  /* background-image: url('https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif');
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95); 
  visibility: visible; */
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* border: 1px solid black; */
  mask: url("../../../../public/images/hero_bg.svg") no-repeat center/contain;
  -webkit-mask: url("../../../../public/images/hero_bg.svg") no-repeat
    center/contain;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.18;
  transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
  z-index: 4;
  /* position: relative; */
  /* max-width: 600px; */
}


.arrowContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* border: 1px solid black; */
  mask: url("../../../../public/images/hero_bg.svg") no-repeat center/contain;
  -webkit-mask: url("../../../../public/images/hero_bg.svg") no-repeat
    center/contain;
  /* background-color: red; */
  visibility: visible;
  z-index: 7;
}

.arrowLottie {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  /* background-color: black; */

  display: flex;
  justify-content: center;
  align-items: center;
}





.arrow {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.heading {
  /*background-color: red;*/
  /*position: absolute;*/
  /*left: 40px;*/
  /*top: 40px;*/
  display: flex;
  flex-direction: column;
  padding: 30px;
  z-index: 5;
}

.introTitle {
  font-family: "InkLipquid";
  font-size: 20px;
  /* color: rgb(253, 123, 67); */
  color: #ec8d78;
  margin-bottom: 10px;
}

.heading h1 {
  font-size: calc(2.8rem + 1.5vw);
  font-family: "TTHakgyoansimSamulhamR", sans-serif;
  margin: 0;
}

.heading h2 {
  font-size: calc(1.8rem + 1.5vw);
  font-family: "TTHakgyoansimSamulhamR", sans-serif;
  color: white;
  -webkit-text-stroke: 0.8px black;
  margin: 0;
}

.heading button {
  width: 130px;
  height: 40px;
  color: white;
  background-color: black;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 7px;
}

.buttonContainer {
  position: absolute;
  left: 40px;
  top: 180px;
}

/*.buttonContainer button {*/
/*    width: 150px;*/
/*    height: 50px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    font-size: 18px;*/
/*    border-radius: 8px;*/

/*}*/

.tryBtn {
  width: 128px;
  height: 38px;
  color: white;
  background-color: black;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  z-index: 5;
  background: rgb(0, 0, 0);
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 13%,
    rgba(89, 89, 89, 1) 100%
  );
  border: 1px solid #000; */
}

.tryBtn:hover {
  text-decoration: none;
}

/*hero images =============>*/
.imgContainer {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*메뉴판 ===========>*/
.img1 {
  padding: 12px;
  position: absolute;
  top: 16%;
  right: 8%;
  z-index: 1;
  border-radius: 16px;
}

.img1 img {
  /*width: 160px;*/
  width: calc(5rem + 6.2vw);
}

/*콘서트 ===========>*/
.img2 {
  padding: 15px;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 16px;
}

.img2 img {
  /*width: 200px;*/
  width: calc(10rem + 7vw);
  height: auto;
}

/*청첩장 =============>*/
.img3 {
  padding: 10px;
  position: absolute;
  top: 44%;
  left: 12%;
}

.img3 img {
  /*width: 200px;*/
  width: calc(4rem + 4vw);
  height: auto;
}

@media (max-width: 600px) {
  /* .arrow {
    top: 110%;
  } */
  .arrowLottie  {
    bottom: 160px;
  }
}


@media (min-width: 800px) {
  /* .arrow {
    top: 110%;
  } */
  .arrowLottie  {
    bottom: 40px;
  }
}

